

body {
    text-align: center;
    background-color: #000814;
    width: 100%;
    height: 100vh;
    color: #FFFF;
    line-height: 1.5;
  }
  
  #info{
    background-color: #001d3d;
    flex-direction: column;
    flex-flow: column;
    float:left;
    width: 20%;
    position: absolute;
    min-height: 100%;
    top:0;
  }
  
  #intro {
    color:#ffff;
    font-style: bold;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 1.5em;
    text-align: center;
    align-content: center;
    text-shadow:.5em;
    font-family: 'Lato', 'Futura', 'Helvetica', sans-serif;
    font-size: 2em;
    font-weight:100;
  }
  
  #aboutme {
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-top:1em;
    margin-bottom: 1.5em;
    text-align: left;
    font-family: 'Helvetica', 'Futura', 'Tahoma', sans-serif;
    font-size: 1em;
  }
  
  #greet{
    font-style: bold;
    text-align: left;
    font-family: 'Lato', 'Futura', 'Helvetica', sans-serif;
    font-size: 2.5em;
  }

  #whoiam {
      margin-bottom: 10%;
  }
  
  .aboutme-links {
    color: #ffc300;
    float: center;
  }
  
  .aboutme-links:hover,
  .aboutme-links:focus{
      color:#ffe252;
      letter-spacing: .2em;
      text-shadow: 0 0 2px 2px #000814;
  }

  .accordion-body {
      background-color: #001d3d;
  }

  .program_list:hover {
    background-color: #001d3d;
    color: #ffe252;
  }

  .program_list::before{
      background-color: transparent;
  }

  .program_list{
    background-color: #003566;
    color: rgb(250,250,250);
  }