

body {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color:rgb(39, 28, 49);
  color: rgb(250,250,250);
  line-height: 1.5;
}

#info{
  background-color: rgb(81, 54, 102);
  flex-direction: column;
  flex-flow: column;
  float:left;
  width: 20%;
  position: absolute;
  min-height: 100%;
  top:0;
}

#intro {
  font-family: "Futura", "Helvetica", sans-serif;
  font-style: italic;
  padding-left:1.5em;
  padding-right: 1.5em;
  margin-top: 1.5em;
  text-align: center;
  align-content: center;
  text-shadow:.3em;
  font-size: 1.5em;
  font-weight:100;
}

#aboutme {
  margin-left: 1.7em;
  margin-right: 1.7em;
  margin-top:1em;
  margin-bottom: 1em;
  text-align: center;
}