

body {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color:rgb(0, 0, 0);
  color: rgb(250,250,250);
}

.intro {
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: italic;
  padding-left:1.5em;
  padding-right: 1.5em;
}

.info{
  background-color: rgb(157, 62, 235);
  flex-direction: column;
  flex-flow: column;
  column-width: auto;
  height: 100%;
  margin-top:1.5em;
}

.aboutme{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top:1em;
  margin-bottom: 1em;
}