
body {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color:rgb(22, 5, 37);
  color: rgb(250,250,250);
  line-height: 1.5;
}

#info{
  background-color: rgb(50, 12, 78);
  flex-direction: column;
  flex-flow: column;
  float:left;
  width: 20%;
  position: absolute;
  min-height: 100%;
  top:0;
}

#intro {
  font-family: "Futura", "Helvetica", sans-serif;
  font-style: oblique;
  padding-left:1em;
  padding-right: 1em;
  margin-top: 1.5em;
  text-align: center;
  align-content: center;
  text-shadow:.3em;
  font-size: 2em;
  font-weight:100;
}

#aboutme {
  margin-left: 1.7em;
  margin-right: 1.7em;
  margin-top:1em;
  margin-bottom: 1em;
  text-align: center;
}

#greet{
  font-style: oblique;
  font-family: "Futura", "Helvetica", sans-serif;
}

#aboutme-links {
  color: rgb(250,250,250);
}

a:active {
  color: rgb(231, 206, 255)
}

a:visited{
  color: rgb(250,250,250);
}