

body {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color:rgb(0, 0, 0);
  color: rgb(250,250,250);
}

.intro {
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

.info{
  background-color: rgb(157, 62, 235);
  flex-direction: column;
  flex-flow: column;

}