body {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color:#355070;
  color: rgb(250,250,250);
  line-height: 1.5;
}

#info{
  background-color: #6d597a;
  flex-direction: column;
  flex-flow: column;
  float:left;
  width: 20%;
  position: absolute;
  min-height: 100%;
  top:0;
}

#intro {
  font-family: "Futura", "Helvetica", sans-serif;
  font-style: oblique;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1.5em;
  text-align: center;
  align-content: center;
  text-shadow:.5em;
  font-size: 2em;
  font-weight:100;
}

#aboutme {
  margin-left: 1.7em;
  margin-right: 1.7em;
  margin-top:1em;
  margin-bottom: 1em;
  text-align: left;
  font-kerning: 1.3em;
}

#greet{
  font-style: oblique;
  font-family: "Futura", "Helvetica", sans-serif;
  text-align: left;
}

.aboutme-links {
  color: #eaac8b;
}

a:active {
  color: #e56b6f;
  font-weight: 100;
}

a:link{
  color: #eaac8b;
}

a:visited{
  color: #b56576;
}

.program_list{
  background-color: #6d597a;
  color: #FFFFF;
  font-family: "Futura", "Helvetica", sans-serif;
}
